<div class="participants">
  <div class="teams">
    <div class="team">
      <div class="participant">
        <div class="championIcon">
          <img src="http://ddragon.leagueoflegends.com/cdn/4.12.2/img/champion/{{team100[0].champion.key}}.png" />
        </div>
        <div class="participantName">{{team100[0].summoner.name}}</div>
      </div>
      <div class="participant">
        <div class="championIcon">
          <img src="http://ddragon.leagueoflegends.com/cdn/4.12.2/img/champion/{{team100[1].champion.key}}.png" />
        </div>
        <div class="participantName">{{team100[1].summoner.name}}</div>
      </div>
      <div class="participant">
        <div class="championIcon">
          <img src="http://ddragon.leagueoflegends.com/cdn/4.12.2/img/champion/{{team100[2].champion.key}}.png" />
        </div>
        <div class="participantName">{{team100[2].summoner.name}}</div>
      </div>
      <div class="participant">
        <div class="championIcon">
          <img src="http://ddragon.leagueoflegends.com/cdn/4.12.2/img/champion/{{team100[3].champion.key}}.png" />
        </div>
        <div class="participantName">{{team100[3].summoner.name}}</div>
      </div>
      <div class="participant">
        <div class="championIcon">
          <img src="http://ddragon.leagueoflegends.com/cdn/4.12.2/img/champion/{{team100[4].champion.key}}.png" />
        </div>
        <div class="participantName">{{team100[4].summoner.name}}</div>
      </div>
    </div>
    <div class="team">
      <div class="participant">
        <div class="championIcon">
          <img src="http://ddragon.leagueoflegends.com/cdn/4.12.2/img/champion/{{team200[0].champion.key}}.png" />
        </div>
        <div class="participantName">{{team200[0].summoner.name}}</div>
      </div>
      <div class="participant">
        <div class="championIcon">
          <img src="http://ddragon.leagueoflegends.com/cdn/4.12.2/img/champion/{{team200[1].champion.key}}.png" />
        </div>
        <div class="participantName">{{team200[1].summoner.name}}</div>
      </div>
      <div class="participant">
        <div class="championIcon">
          <img src="http://ddragon.leagueoflegends.com/cdn/4.12.2/img/champion/{{team200[2].champion.key}}.png" />
        </div>
        <div class="participantName">{{team200[2].summoner.name}}</div>
      </div>
      <div class="participant">
        <div class="championIcon">
          <img src="http://ddragon.leagueoflegends.com/cdn/4.12.2/img/champion/{{team200[3].champion.key}}.png" />
        </div>
        <div class="participantName">{{team200[3].summoner.name}}</div>
      </div>
      <div class="participant">
        <div class="championIcon">
          <img src="http://ddragon.leagueoflegends.com/cdn/4.12.2/img/champion/{{team200[4].champion.key}}.png" />
        </div>
        <div class="participantName">{{team200[4].summoner.name}}</div>
      </div>
    </div>
  </div>
</div>