<div>
  <div ng-controller="SummonerLookupCtrl">
    <div ng-include="'partials/summoner-lookup.html'"></div>
  </div>

  <h3>Summoner Details</h3>
  <button type="button" class="btn btn-default" ng-click="updateSummonerFromURL()">Update Data</button>
  <div ng-show="loading">
    taskID: {{taskID}}
    <div us-spinner></div>
  </div>
  <ul>
    <li>Name: {{summonerInfo.name}}</li>
    <li>ID: {{summonerInfo.summoner_id}}</li>
    <li>Level: {{summonerInfo.summoner_level}}</li>
    <li>Region: {{summonerInfo.region}}</li>
  </ul>

  <!--<div>-->
    <!--<ul>-->
      <!--<li ng-repeat="game in games.results">-->
        <!--<ul>-->
          <!--<li ng-repeat="(k, v) in game">-->
            <!--{{k}}: {{v}}-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->

</div>