<div>
  <h3>Summoner Search</h3>

  <label for="region">
    Region
  </label>
  <select ng-model="region">
    <option selected="selected" value="na">NA</option>
    <option value="euw">EUW</option>
    <option value="eune">EUNE</option>
    <option value="br">BR</option>
    <option value="lan">LAN</option>
    <option value="las">LAS</option>
    <option value="kr">KR</option>
    <option value="oce">OCE</option>
    <option value="ru">RU</option>
    <option value="tr">TR</option>
  </select>

  <label for="name">
    Name
  </label>
  <input type="text" ng-model="name" />

  <button type="button" class="btn btn-default" ng-click="toSummonerDetail(region, name)">Search</button>

  <ul>
    <li ng-repeat="(k, v) in summonerInfo">{{k}}: {{v}}</li>
  </ul>
</div>