<div>
  <div ng-controller="SummonerLookupCtrl">
    <div ng-include="'partials/summoner-lookup.html'"></div>
  </div>

  <h3>Summoner Details</h3>
  <button type="button" class="btn btn-default" ng-click="updateSummonerFromURL()">Update Data</button>
  <div ng-show="loading">
    taskID: {{taskID}}
    <div us-spinner></div>
  </div>

  <summoner-basic-info></summoner-basic-info>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="sumInfoBox">.sumInfoBox
          <div class="col-md-6">League Rank Icon</div>
          <div class="col-md-6">Basic Summoner Info
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="matchHistBox">
          <recent-game ng-repeat="game in games.results"></recent-game>
        </div> <!-- matchHistBox -->
      </div> <!-- col-md-9 -->
    </div> <!-- row -->
  </div> <!-- container -->

  <!--<div>-->
    <!--<ul>-->
      <!--<li ng-repeat="game in games.results">-->
        <!--<ul>-->
          <!--<li ng-repeat="(k, v) in game">-->
            <!--{{k}}: {{v}}-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->

</div>