<div>
  <div ng-controller="SummonerLookupCtrl">
    <div ng-include="'partials/summoner-lookup.html'"></div>
  </div>

  <h3>Summoner Details</h3>
  <button type="button" class="btn btn-default" ng-click="updateSummonerFromURL()">Update Data</button>
  <div ng-show="loading">
    taskID: {{taskID}}
    <div us-spinner></div>
  </div>

  <summoner-basic-info></summoner-basic-info>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
          <div class="sumInfoBox">
              <div class="sumInfoBoxContent">
                  <div class="sumRating row">
                      <div class="medal col-md-5 nopadding">
                          <img src="../img/gold_6.png" height="100" width="100">
                      </div>
                      <div class="tierRankInfo col-md-7">
                          <div class="tierRankBig">
                              <span class="tierRankTextBig">{{soloQueue.league.tier}} {{soloQueue.division}}</span>
                          </div>
                          <div class="leaguePointsBig">
                              <span class="leaguePointsTextBig">{{soloQueue.league_points}} LP</span>
                          </div>
                          <div class="winLoseBig">
                            <span class="winLoseTextBig">{{soloQueue.wins}} Wins</span>
                          </div>
                          <div class="leagueName">
                            <span class="leagueName">{{soloQueue.league.name}}</span>
                          </div>
                      </div>
                  </div>
                  <div class="rankedTeam row">
                      <div>
                          <div class="medal"><img src="../img/gold_6.png"></div>
                          <div class="tierRank">
                              <span class="tierRankText">Platinum 5</span>
                              <span class="leaguePoints">12 LP</span>
                          </div>
                          <div class="typeTeam">
                              <div class="statSummaryType">Ranked 3v3 Team</div>
                              <div class="teamName">
                                  <span class="teamNameText">Medicadaticles</span>
                              </div>
                          </div>
                      </div>
                      <div class="winLose">
                          <span class="total">11G </span>
                          <span class="wins">6W </span>
                          <span class="losses">5L</span>
                          <span class="winRatio">Win Ratio 55%</span>
                      </div>
                  </div>
                  <div class="rankedTeam row">
                      <div>
                          <div class="medal"><img src="../img/gold_6.png"></div>
                          <div class="tierRank">
                              <span class="tierRankText">Platinum 5</span>
                              <span class="leaguePoints">12 LP</span>
                          </div>
                          <div class="typeTeam">
                              <div class="statSummaryType">Ranked 3v3 Team</div>
                              <div class="teamName">
                                  <span class="teamNameText">Medicated Testicles</span>
                              </div>
                          </div>
                      </div>
                      <div class="winLose">
                          <span class="total">11G </span>
                          <span class="wins">6W </span>
                          <span class="losses">5L</span>
                          <span class="winRatio">Win Ratio 55%</span>
                      </div>
                  </div>
              </div>
          </div>
          </div>
          <!--<solo-queue></solo-queue>-->
        <!--</div>-->
        <!--<div>-->
            <!--<summoner-league-info></summoner-league-info>Team 1<br>Team 2-->
        <!--</div>-->
      <!--</div>-->
      <div class="col-md-9">
        <div class="matchHistBox">
          <recent-game ng-repeat="game in games.results"></recent-game>
        </div> <!-- matchHistBox -->
      </div> <!-- col-md-9 -->
    </div> <!-- row -->
  </div> <!-- container -->

  <!--<div>-->
    <!--<ul>-->
      <!--<li ng-repeat="game in games.results">-->
        <!--<ul>-->
          <!--<li ng-repeat="(k, v) in game">-->
            <!--{{k}}: {{v}}-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->

</div>